
# HTID:9436785: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:9436785:

<FilesMatch "\.ini$">
	Order allow,deny
	Deny from all
</FilesMatch>

<FilesMatch "\.sql$">
	Order allow,deny
	Deny from all
</FilesMatch>

Options -Indexes
