/*Des borders seront utilisés pour les vérifications, puis laissés commentés paar la suite*/
/*On importe la police principale du site de 2 façons différentes : en ligne et depuis les fichiers*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@font-face {
    font-family: "Alaska";
    src: url("Alaska_Font.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-Regular.ttf");
}

* {
    box-sizing: border-box;
}

/*On set le body par défaut en Montserrat et avec tout de centré en colonne*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: normal;
}

/*On fait en sorte que le fond du footer soit transparent noir, que tout soit centré dedans et qu'il ait une bonne taille*/
footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0;
}

/*On enlève les margin du footer*/
footer p{
    margin: 0;
    color: white;
}

/*On affiche correctement les form, le texte toujours à gauche*/
form{
    display: flex;
    flex-direction: row;
    color: white;
    text-align: left;
}

/*On met la taille souhaitée pour que ça s'affiche bien*/
form div{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5%;
    justify-content: center;
}

/*On définit la taille de la police dans les formulaires ainsi que leur position*/
form p{
    font-size: 0.8em;
    align-self: flex-end;
}

/*On fait en sorte que le header (nav) ait une ombre et s'affiche correctement*/
header {
    display: flex!important;
    width: 100%;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

/*On définit la taille de la police des titres principaux*/
h1{
    font-weight: normal;
    margin: 30px;
}

/*On met en majuscule*/
h1 span{
    text-transform: uppercase;
}

/*On fait en sorte que nos input soient correctement affichés*/
input[type=text], input[type=email], input[type=tel], input[type=password] ,select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #B02E4E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-end;
    width: auto;
}

input[type=submit]:hover {
    background-color: #661B2E;
}

/*On fait en sorte que notre main soit correctement affiché par rapport au body et que tous les éléments soient centrés*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

/*On définit la taille de nos textarea*/
textarea{
    height: 200px;
}

/*On aligne les items au centre du parent*/
#aligncenter{
    align-items: center;
}

/*Permet d'afficher de façon à ce que les items soient en colonne dans le conteneur parent*/
#colonne{
    /*border : 1px solid yellow;
    margin-top: 30px;*/
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

#deconnect{
    justify-content: center;
}

/*Les items à droite de la page portfolio */
#droiteport{
    padding: 0 20px 0 20px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    align-items: center;
}

/*Les items à gauche de la page index ont un fond transparent et sont centrés*/
#gauche{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    align-items: center;
    align-self: flex-start;
}

#gauche div, h1{
    text-align: center;
}

/*item à gauche de la page portfolio définis pour être au centre du  conteneur parent*/
#gaucheport{
    width: 40%;
    height: 100%;
    text-align: center;
    display: table;
}

/*titre principal de la page portfolio*/
#h1port{
    font-weight: normal;
    display: table-cell;
    vertical-align: middle;
}

/*On met un fond, des margins, et on adoucis les bords du formulaire de contact*/
#contactform{
    background-color: rgba(0,0,0,0.5);
    margin: 5%;
    border-radius: 5em;
}

/*On set le texte de la page portfolio à droite*/
#justifie{
    text-align: right;
}

/*On set la taille des icones des réseaux ainsi que leur positionnement les uns par rapport aux autres*/
#mes_reseaux{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 200px;
    margin : 10px 0;
}

#sticky{
    display: flex;
    margin-top: 20px;
    margin-right: 15%;
    margin-left: 15%;
    width: 100%;
    /*text-transform: uppercase;*/
}

/*On défini l'affichage du texte de la page à propos*/
#textepropos{
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: flex-start;
}

/*On enlève les margins du titre principal de la page à propos*/
#textepropos h1{
    margin: 0;
}

#width100{
    width: 100%;
    height: 100%;
    padding: 20px;
}

/*On met la couleur de fond transparente blanche*/
.bg {
    background-color: rgba(255, 255, 255, 0.7);
}

/*On refait pareil mais en ajoutant un padding et un border radius pour les éléments de la page à propos*/
.bgwhite{
    background-color: rgba(255,255,255, 0.5);
    padding: 40px;
    border-radius: 20px;
}

/*On fait en sorte que notre bouton ait un léger dégradé linaire,
que la souris soit en pointeur dessus,
que la police soit Rubik,
qu'il y ait une ombre*/
.button01 {
    margin: 0px 40px 0px 40px;
    display: inline-block;
    color: #fff;
    letter-spacing: 0px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    line-height: 46px;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: linear-gradient(to right, black 0%, #303030 100%), radial-gradient(circle at top left, black, #303030);
    border: double 2px transparent;
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    transition: all 0.3s ease-in-out;
    width: 120px;
    height: 55px;
}

.button01:hover {
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, black, #303030);
    border: 2px solid black;
    color: black;
    box-shadow: none;
    background-clip: border-box;
}

/*On affiche nos catégories de compétences en colonnes, en les espaçant de 100px entre chaque (50px + 50px)
et on ajoute le space-between pour que les éléments contenus soient automatiquement espacés*/
.categoriecomp{
    padding: 50px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/*Ici on va définir les propriétés de nos cardds pour les pages projets et expériences professionnelles*/
.card{
    width: 277px;
    height: fit-content;
    margin-right: 70px!important;
    margin-left: 70px!important;
}

.card-deck{
    margin-bottom: 20px;
    text-align: left;
}

.card-body{
    height: 185px;
    overflow: auto;
}

.card-body h2{
    font-size: 1.2em;
    font-weight: bold;
}

.card-body p{
    font-size: 0.8em;
}

.card-img-top{
    border-bottom: 1px solid darkgray;
}

/*On affiche bien le texte de notre bouton pour afficher le mdp de la connexion admin*/
.check{
    color: black;
    margin: 0;
    justify-content: center!important;
}

/*On fait en sorte que le conteneur affiche les éléments enfants en colonne*/
.colonne{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
   /* height: 100%;*/
    justify-content: center;
}

/**On fait en sorte que le conteneur affiche les éléments enfants en ligne*/
.contenu{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
}

/*On set la taille des images pour qu'elle soit adaptée*/
.contenu img{
    width: 25%;
    height: auto;
    margin: 10px;
    text-align: justify;
}

.container {
    background-color: transparent;
    width: 100%;
}

.div_modal {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*On définit la couleur et les marges de chaque icône de réseau social*/
.fab{
    color: #B02E4E;
    margin: 0 10px;
}

.fab:hover{
    color: #661B2E;
}

/*On définit les propriété de la div fond qui est sur chaque page :
on veut qu'elle prenne tout l'écran, sans rien gêner*/
.fond{
    background-image: url("images/fond.jpg");
    background-size: cover;
    opacity: 0.8;
    z-index: -3;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/*On définit la largeur à 60% de la page*/
.height60{
    width: 60%;
}

/*On définit la hauteur de l'élément à 100% de son parent :
sert à débugger certaines pages*/
.height{
    height: 100%;
}

/*On définit l'affichage des images qui vont correspondre à des modaux*/
.img_modal {
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.img_modal img{
    height: 200px;
    width: auto;
    cursor: pointer;
}

/*On applique un padding de 20px (et non pas une margin finalement)*/
.margin20{
    padding-bottom: 20px;
    flex-grow: 7;
}

/*On définit la taille des images dans un conteneur précis*/
.margin20 img{
    width: 200px;
    border-radius : 50%;
}

/*On définit l'affichage des boutons de la page à propos :
en ligne, et espacés*/
.mes_boutons{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
}

/*On fait en sorte que les compétences soient en ligne et espacés*/
.mescompenligne{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

/*On aligne le texte en colonne à gauche de son élément parent*/
.montexte{
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-self: flex-start;
    text-align: start;
}

/*On set la taille des div compétences ainsi que leur couleur*/
.mycompetences{
    display: flex;
    flex-direction: column;
    height: 300px;
    width : auto;
    filter: grayscale(100%);
    transition: all 0.5s ease-out;
    align-items: center;
}

/*On ajoute la couleur au survol de la souris*/
.mycompetences:hover{
    transform: scale(1.3);
    filter: grayscale(0%);
}

/*On set la taille des images compétences*/
.mycompetences img{
    height: 200px;
    width: auto;
    vertical-align: middle;
    border-style: none;
}

/*On définit le conteneur parent comme affichant ses enfants en ligne*/
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*Idem, a servi pour un test*/
.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*On définit la taille d'un conteneur à 50% de son élément parent*/
.taille50{
    width: 50%;
}

/*On fait en sorte que l'image prenne toute la taille de son parent*/
.taille50 img{
    width: 100%;
}



/***************************Ici le css de ma nav***************************/

.dropbtn {
    color: #333;
    border: none;
    cursor: pointer;
    margin-left: 35px;
    font-family: "Oswald", sans-serif;
    font-size: 1.1em;
    background-color: white;
}

.dropbtn a{
    text-decoration: none;
    color: #333;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    padding-top: 14%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Oswald", sans-serif;
}

.dropdown-content a:hover {background-color: #f9f9f9;}
.dropdown:hover .dropdown-content {
    display: block;
}


a{
    text-decoration: none;
    align-self: end;
}

a:hover{
    color: #B02E4E;
    text-decoration: none;
}

nav{
    display: flex;
    background-color: white;
    /* position: sticky;*/
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}

nav ul li{
    display: inline-block;
    margin-left: 35px;
    font-family: "Rubik", "Oswald", sans-serif;
    color: #333;
}


ul{
    list-style:none;
    margin-left:0;
    padding-left:0;
    margin-top: 1rem;
}

#gauchenav a{
    /*border: 2px solid red;*/
    color: #333;
    font-family: "Alaska", "Oswald", sans-serif;
    font-size: 2em;
}

#gauchenav span{
    color: #B02E4E;
}

#liste-menu{
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    /*border: 2px solid green;*/
    background-color: white;
}

#sticky{
    display: flex;
    margin: 20px 20px 0 20px;
}